<a href="https://colab.research.google.com/github/Kaiaiak/data-science-for-construction-edx-course-notebooks/blob/master/Exercise_2_2_Pandas_Fundamentals_II_attempt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science for Construction, Architecture and Engineering

### Week 2 - Building Design Phase - Intro to Pandas

### Exercise Set 2.2 - Pandas Fundamentals II

This set of exercises is the second of two sets for Week 2. These exercises are designed to give you some hands on experience in trying out the concepts from the second set of videos for this week.

There is an introduction video available to explain the process of using this exercise video.

The lead developer of this exercise is Matias Quintana, a Ph.D. student at NUS and a teaching assistant of this course.

# Exercise 02.2

There are three exercises in this set, each one slightly more advanced uses of the [Pandas library](https://pandas.pydata.org/).

### Please note that you will need to use the resultant output from Exercise 02.2.3 for the Quiz 2.2.

First, we will help by importing the files the libraries you will need on this notebook:

In [1]:
import pandas as pd
import os
from google.colab import drive

And mount the google drive folder

In [81]:
drive.mount('/content/gdrive')
os.chdir("/content/gdrive/My Drive/EDX Data Science for Construction, Architecture and Engineering/2 - Building Design - Intro to Pandas/simulation_data")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

## Exercise 02.2.1 - Load multiples files and concatenate them

As a data scientist in the built environment, you may want to compare different simulation scenarios with a baseline in order to aid the decision making of the stakeholders. By doing this, you can provide better insights to the design team in terms of which strategy is less energy heavy.

The first thing we can do is load all the different scenarios alongside the baseline together. As you saw on the videos, one feature of interative python notebooks is the ability to run UNIX commands, such as `ls`:

In [5]:
ls

 Baseline.csv                      'Scenario - Increase Setpoint.csv'
 Baseline.xlsx                     'Scenario - Low-E Glass.csv'
'Scenario - Aircon Schedules.csv'  'Scenario - Rooftop Gardens.csv'
'Scenario - Cool roof.csv'

In [6]:
# when `ls` is ran on a cell with python code, there should be a `!` in front of it
print("some python code")
!ls

some python code
 Baseline.csv			   'Scenario - Increase Setpoint.csv'
 Baseline.xlsx			   'Scenario - Low-E Glass.csv'
'Scenario - Aircon Schedules.csv'  'Scenario - Rooftop Gardens.csv'
'Scenario - Cool roof.csv'

This command lists the contents of a given directory. In your case, is listing the contents of the current directory on which you arrived after mounting the gdrive.

You have already used `.read_csv()` to load a single file, now you are tasked to write a program that loads all the `.csv` files shown by the `ls` command. 

In this exercise go ahead and try loading and manipulating all the scenario files, this time using a **function**.

The function is called `load_all_csv` and the input is a list of string with the file names.

After implementing it, you would only need to run the following one-liner `all_data = load_all_csv(files_names)` to load all the data properly, assuming `file_names` contains the **string** names of all the `csv` files you want .

Complete the function below and verify the files are loaded into `all_data`.

Use this first code cell to define your function:

In [92]:
def load_all_csv(files_names):
  files_names = os.listdir()
  return files_names

files_names = os.listdir()
all_data = load_all_csv(files_names)

print(all_data)

['Scenario - Increase Setpoint.csv', 'Scenario - Aircon Schedules.csv', 'Scenario - Rooftop Gardens.csv', 'Scenario - Low-E Glass.csv', 'Scenario - Cool roof.csv', 'Baseline.csv', 'Baseline.xlsx']

In [93]:
# Use the function you just defined and load all the files
# YOUR CODE HERE
combined_data = []
for filename in all_data:
  if filename.endswith('csv'):
    #print(filename) 
    df = pd.read_csv(filename, index_col='Month')
    combined_data.append(df)
all_data = pd.concat(combined_data,axis=1)
all_data

Scenario - Increase Setpoint.csv
Scenario - Aircon Schedules.csv
Scenario - Rooftop Gardens.csv
Scenario - Low-E Glass.csv
Scenario - Cool roof.csv
Baseline.csv

           Scenario - Increase Setpoint  ...  Baseline
Month                                    ...
January                            2.73  ...      5.69
February                           3.88  ...      6.75
March                              6.60  ...     10.64
April                              9.37  ...     13.60
May                               14.82  ...     19.34
June                              18.01  ...     22.64
July                              21.98  ...     27.02
August                            22.15  ...     27.13
September                         19.92  ...     25.04
October                           13.65  ...     18.47
November                           8.49  ...     13.02
December                           4.15  ...      7.53

[12 rows x 6 columns]

## Exercise 02.2.2 - Dataframe column slicing
Sometimes, even if you have all the data we want to compare in one single dataframe, you may want to analyse specific columns rather than all of them.

In this exercise, write some lines of codes that creates a new dataframe containing only data from the `Baseline` and the simulation scenarios regarding **scheduling** and **setpoint** operation.

**Hint**: Look at the instruction code in Exercise 02.01.3 for a reference on how to select a single column.

**Hint**: Remember that when you want to group variables is better to treat them as a list `['a','b']` instead of just two independant variables `'a','b'`. Notice the square brackets.

In [33]:
# Select only the baseline and simulation scenarios asked above
# YOUR CODE HERE

all_data[['Scenario - Rooftop Gardens','Scenario - Low-E Glass','Scenario - Cool roof']]

all_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, January to December
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Scenario - Increase Setpoint  12 non-null     float64
 1   Scenario - Aircon Schedules   12 non-null     float64
 2   Scenario - Rooftop Gardens    12 non-null     float64
 3   Scenario - Low-E Glass        12 non-null     float64
 4   Scenario - Cool roof          12 non-null     float64
 5   Baseline                      12 non-null     float64
dtypes: float64(6)
memory usage: 992.0+ bytes

## Exercise 02.2.3 - Calculate maximum value across rows and columns
In this last exercise, let's create an analysis of the `Baseline` and the simulation scenarios chosen before. 

For **each month**, find the scenario (column) with the **lowest** consumption value. Then, in order to calculate the **energy savings** potential of this scenario **on this month**, find the scenario (column) with the **highest** value. The energy savings percentage can be then calculated as one minus the ratio of these values all multiplied by 100. You save these values in the list `savings`.

Finally, report the `maximum` percentage of energy savings, across all months, as well as the **month** where this is achieved.

**Hint**: One way to select specific rows in a dataframe is by choosing the index with the function `.iloc[]`. This function accepts arguments in the form of `row_indices` or `row_indices, column_indices` (indices start with 0 in Python). Remember that execution the same action multiple times (Calculating the savings percentage, can be automated in a `for loop`

In [47]:
#def energy(lowest_consumption, highest_consumption):
 #   savings = []
  #  for value in month:                             #The name should match the parameter in the function.
   #   df = pd.Series.min(value)     #Find min in each row
    #  df.loc[]                              #Create a list with all the dataframes previously read
    #savings = pd.concat(savings, axis = 1)            #Concatenate all dfs
    #return savings                                    #Returns the concatenation of all dfs as a single dataframe

#percentage = savings

#savings = energy(percentage)

savings = []

months = base_sched_setpt.index
print(months)
for months in base_sched_setpt:
  df.loc[months, 'savings'] = base_sched_setpt['Savings'] - (1((max)base_sched_setpt.loc[months])-min(base_sched_setpt.loc[months]))/(max(base_sched_setpt.loc[months])))) * 100

SyntaxError: ignored

### Please write down the month with the **highest savings** and input it in Quiz 2.2